<?xml version="1.0" encoding="utf-8"?>
<ScheduleConfigData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MinuteSuffix>min</MinuteSuffix>
  <LightningSuffix>lightning</LightningSuffix>
  <MaxTalktimeInMinutes>240</MaxTalktimeInMinutes>
  <MinTalktimeInMinutes>1</MinTalktimeInMinutes>
  <LightningTimeInMinutes>5</LightningTimeInMinutes>
  <SessionTypeList>
    <SessionTypeData>
      <Name>Morning</Name>
      <Type>TalkSession</Type>
      <StartTime>1900-01-01T09:00:00</StartTime>
      <EndTime>1900-01-01T12:00:00</EndTime>
    </SessionTypeData>
    <SessionTypeData>
      <Name>Lunch</Name>
      <Type>NoTalkSession</Type>
      <StartTime>1900-01-01T12:00:00</StartTime>
      <EndTime>1900-01-01T13:00:00</EndTime>
    </SessionTypeData>
    <SessionTypeData>
      <Name>Afternoon</Name>
      <Type>TalkSession</Type>
      <StartTime>1900-01-01T13:00:00</StartTime>
      <EndTime>1900-01-01T17:00:00</EndTime>
    </SessionTypeData>
    <SessionTypeData>
      <Name>Networking Event</Name>
      <Type>NoTalkSession</Type>
      <StartTime>1900-01-01T16:00:00</StartTime>
      <EndTime>1900-01-01T18:00:00</EndTime>
    </SessionTypeData>
  </SessionTypeList>
</ScheduleConfigData>